{% extends 'base.html' %}
{% block content %}
{{current_location('添加')}}
<div class="clearfix text-center">
{% if get_flashed_messages() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for message in get_flashed_messages() %}
        <small>{{ message }}</small>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}
</div>
<br>
<form method="post">
    {{form.csrf_token}}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.code.label}}
            {{form.code(class='form-control')}}
            {% for message in form.code.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            {{form.name.label}}
            {{form.name(class='form-control')}}
            {% for message in form.name.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div>
    {% if current_user.is_admin %}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.enterprise.label}}
            {{form.enterprise(class='form-control')}}
        </div>
        <div class="form-group col-md-6">
            {{form.company.label}}
            {{form.company(class='form-control')}}
        </div>
    </div>
    {% endif %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="selectParent" checked>
              <label class="custom-control-label" for="selectParent">上级部门</label>
            </div><br>
            {{form.has_parent(value=1)}}
            {{form.do_save}}
            {{form.parent(class='form-control')}}
        </div>
     </div>
</form>
<div class="row">
    <div class="col-md-6">
        <button type="button" id="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i>&nbsp;&nbsp;保存</button>
    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-outline-secondary" href="{{url_for('department.index')}}"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;&nbsp;返回</a>
    </div>
 </div>
{% endblock %}
{% block script %}
    {{ super() }}
    $(function(){
        $('#selectParent').change(function(){
            if($(this).is(':checked')){
                $('#parent').removeAttr('disabled')
                $('#has_parent').val(1)
            }else{
                $('#parent').attr('disabled', true)
                $('#has_parent').val(0)
            }
        })
        $('#submit').click(function(){
            $('#do_save').val(1)
            $('form').submit()
        })
        $('#company').change(function(){
            $('#do_save').val(0)
            $('form').submit()
        })
        $('#enterprise').change(function(){
            $('#do_save').val(0)
            $('form').submit()
        })
    })
{% endblock %}