{% extends 'base.html' %}
{% block content %}
{{current_location('编辑')}}
<form method="post">
    {{form.csrf_token}}
    {{form.id}}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.code.label}}
            {{form.code(class='form-control')}}
            {% for message in form.code.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            {{form.name.label}}
            {{form.name(class='form-control')}}
            {% for message in form.name.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.url.label}}
            {{form.url(class='form-control')}}
            {% for message in form.url.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            {{form.icon.label}}
            {{form.icon(class='form-control')}}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.module.label}}
            {{form.module(class='form-control')}}
            {% for message in form.module.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            {{form.order_by.label}}
            {{form.order_by(class='form-control')}}
            {% for message in form.order_by.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            {{form.remark.label}}
            {{form.remark(class='form-control', rows=3)}}
            {% for message in form.remark.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i>&nbsp;&nbsp;保存</button>
        </div>
        <div class="form-group col-md-6 text-right">
            <a class="btn btn-outline-secondary" href="{{url_for('menu.index')}}"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;&nbsp;返回</a>
        </div>
     </div>
</form>
{% endblock %}