{% extends 'base.html' %}
{% block content %}
{{current_location(None)}}
<div class="clearfix text-center">
{% if get_flashed_messages() %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {% for message in get_flashed_messages() %}
        <small>{{ message }}</small>
      {% endfor %}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
{% endif %}
</div>
<div class="clearfix">
  <a href="{{url_for('enterprise.add')}}" class="btn btn-outline-primary float-right"><i class="bi bi-plus"></i>&nbsp;新增</a>
</div>
<br>
<table class="table table-hover table-sm">
  <thead>
    <tr>
        <th scope="col" width="40%">事业处代码</th>
        <th scope="col" width="40%">事业处名称</th>
        <th scope="col" class="text-center" width="20%">Action</th>
    </tr>
  </thead>
  <tbody>
    {% if enterprises %}
        {% for enterprise in enterprises %}
            <tr>
                <td>{{enterprise.code}}</td>
                <td>{{enterprise.name}}</td>
                <td class="text-center">
                    <a href="{{url_for('enterprise.edit', id=enterprise.id)}}" class="btn btn-link text-info" title="编辑"><i class="bi bi-pencil-square"></i></a>&nbsp;
                </td>
            </tr>
        {%endfor%}
    {% else %}
        <tr>
            <td colspan="3" class="text-center"><small>没有记录!!!</small></td>
        </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}