{% extends 'base.html' %}
{% block content %}
{{current_location('编辑')}}
<form method="post">
    {{form.csrf_token}}
    {{form.id}}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.code.label}}
            {{form.code(class='form-control')}}
            {% for message in form.code.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            {{form.name.label}}
            {{form.name(class='form-control')}}
            {% for message in form.name.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <div class="custom-control custom-switch">
                {{form.is_ad(class='custom-control-input')}}
                {{form.is_ad.label(class='custom-control-label')}}
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.password.label}}
            {{form.password(class='form-control')}}
            {% for message in form.password.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            {{form.password_confirm.label}}
            {{form.password_confirm(class='form-control')}}
            {% for message in form.password_confirm.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.company.label}}
            {%if current_user.company%}
                {{form.company(class='form-control', disabled=True)}}
            {%else%}
                {{form.company(class='form-control')}}
            {%endif%}
            {% for message in form.company.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            {{form.role.label}}
            {{form.role(class='form-control')}}
            {% for message in form.role.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
     </div>
     <div class="form-row">
        <div class="form-group col-md-6">
            {{form.email.label}}
            {{form.email(class='form-control')}}
            {% for message in form.email.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        <div class="form-group col-md-6">
            {{form.phone.label}}
            {{form.phone(class='form-control')}}
        </div>
     </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i>&nbsp;&nbsp;保存</button>
        </div>
        <div class="form-group col-md-6 text-right">
            <a class="btn btn-outline-secondary" href="{{url_for('user.index')}}"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;返回</a>
        </div>
    </div>
</form>
{% endblock %}
{% block script %}
    {{ super() }}
    $(function(){
        if($(':checkbox').prop('checked')){
            $('#password').attr('disabled', true)
            $('#password_confirm').attr('disabled', true)
        }
        $(':checkbox').change(function(){
            if($(this).prop('checked')){
                $('#password').val('')
                $('#password').attr('disabled', true)
                $('#password_confirm').val('')
                $('#password_confirm').attr('disabled', true)
            }else{
                $('#password').attr('disabled', false)
                $('#password_confirm').attr('disabled', false)
            }
        })
    })
{% endblock %}