{% extends 'base.html' %}
{% block content %}
{{current_location('添加')}}
<form method="post">
    {{form.csrf_token}}
    <div class="form-row">
        <div class="form-group col-md-6">
            {{form.name.label}}
            {{form.name(class='form-control')}}
            {% for message in form.name.errors %}
                <small class="text-danger">{{message}}</small>
            {% endfor %}
        </div>
        {%if not current_user.company%}
        <div class="form-group col-md-6">
            {{form.company.label}}
            {{form.company(class='form-control')}}
        </div>
        {%endif%}
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-save"></i>&nbsp;&nbsp;保存</button>
        </div>
        <div class="form-group col-md-6 text-right">
            <a class="btn btn-outline-secondary" href="{{url_for('role.index')}}"><i class="bi bi-arrow-left"></i>&nbsp;&nbsp;返回</a>
        </div>
     </div>
</form>
{% endblock %}